// ---- FONT MAPPING ---- //
$primary-font: "Inter", sans-serif;
$primary-font-weight: 600;
$primary-font-size: 16px;

// ---- COLORS ---- //
$black: #000;
$white: #fff;
$grey: #ccc;
$green: #00ff00;
