@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

// import icons

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 100%;
}
// .main {
// height: 100%;
// overflow: hidden;
// min-height: 100vh;
// }

header {
  // position: fixed;
  // background-color: red;
  width: 100%;
  min-height: 250px;
  padding: 12px;
  nav {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    .brand-name {
      display: flex;
      margin-right: 80px;
    }
    .search-collection {
      width: 500px;
      height: 28px;
      font-size: 15px;
      font-family: "Inter", sans-serif;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #fff;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      border-radius: 2em;
      border: none;
      outline: none;
      padding: 5px;
      margin-left: 80px;
    }
    .search-button {
    }
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      li {
        display: inline;
        a {
          color: #000;
          text-decoration: none;
          margin-left: 80px;
        }
      }
    }
  }
}

main {
  display: flex;
  background-color: yellow;
  align-items: stretch;
  height: 100%;

  aside {
    padding: 10px;
    width: 300px;
    background-color: lightblue;
    // position: fixed;
    span {
      text-transform: uppercase;
    }
    ul {
      margin-top: 40px;
      li {
        margin: 20px 0;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: black;
          &:hover {
            color: #cccccc;
          }
        }
        &:last-child {
          margin-top: 40px;
        }
      }
    }
  }
  section {
    width: 100%;
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      z-index: 1;
      ul {
        padding-top: 5px;
        padding-left: 10px;
        .sort {
          position: relative;
          text-transform: uppercase;
          padding: 5px;
          a {
            text-decoration: none;
            color: #000;
            &:hover {
              color: #cccccc;
            }
          }
          .sort-items {
            width: 165px;
            display: none;
            position: absolute;
            line-height: 20px;
            background-color: #fff;
            top: 0;
            left: 120px;
            padding: 10px;
            z-index: 2;
            li {
              padding: 5px;
            }
          }
          &:hover {
            .sort-items {
              display: block;
            }
          }
        }
      }
      .change-view {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        padding-top: 5px;
        padding-right: 15px;
        &:hover {
          color: #cccccc;
        }
      }
    }
    .section-book-body {
      background-color: orange;
      @include make-col(2, 20px);
      position: absolute;
      padding: 0 15px;

      .block {
        max-width: 400px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        background-color: #fff;
        &-body {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e8e8e8;
          padding: 30px;
          &-a {
            position: relative;
            .add-to-cart {
              display: none;
              transition: 0.5s linear;
            }
            a {
              transition: 0.5s linear;
              img {
                width: 85%;
                max-width: 200px;
                box-shadow: 10px 10px 20px 0px #c8c8c8;
                margin-left: 20px;
              }
            }
            &:hover {
              .add-to-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 3px;
                a {
                  text-decoration: none;
                  text-transform: uppercase;
                  background-color: #00fc00;
                  color: #000;
                  padding: 20px;
                  &:hover {
                    background-color: #00fc00;
                  }
                }
              }
            }
          }
        }
        &-footer {
          display: flex;
          text-transform: capitalize;
          padding: 5px;
          .book-title {
            margin-top: 5px;
          }
          .book-price {
            margin-top: 5px;
            margin-left: 50px;
          }
          .book-stock {
            margin-top: 5px;
            margin-left: auto;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
