@import "./base/reset";
@import "./base/fonts";
@import "./base/mixins";
@import "./base/variables";
@import "../icons/style.css";

body {
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  color: $black;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: $white;
  top: 0;
  padding: 12px;
  z-index: 2;
  nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    .hamburger-menu {
      display: none;
    }
    .brand-name {
      list-style-type: none;
      text-decoration: none;
      color: $black;
      margin-right: 168px;
    }
    .shop-cart-icon {
      display: none;
    }
    .form-search {
      position: relative;
      .search-collection {
        width: 500px;
        height: 35px;
        text-align: center;
        font-family: $primary-font;
        font-size: $primary-font-size;
        font-weight: $primary-font-weight;
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: 0 5px 20px 0 #c8c8c8;
        border-radius: 30px;
        border: none;
        outline: none;
        padding: 5px;
        padding-left: 15px;
        padding-right: 45px;
        &::placeholder {
          color: $grey;
        }
      }
      .search-button {
        position: absolute;
        text-align: center;
        font-size: 18px;
        top: 22%;
        right: 15px;
        color: #c8c8c8;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      li {
        display: inline;
        a {
          text-decoration: none;
          color: $black;
          margin-left: 60px;
        }
      }
    }
  }
}

.main {
  width: 100%;
  display: flex;
  position: sticky;
  top: 65px;
  margin-top: 202px;
  aside {
    width: 297px;
    position: fixed;
    top: 220px;
    margin-left: 3px;
    padding: 10px;
    padding-top: 0;
    span {
      text-transform: uppercase;
    }
    ul {
      margin-top: 40px;
      li {
        margin: 20px 0;
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
          &:hover {
            color: $grey;
          }
        }
        .all-items {
          display: block;
          margin-top: 40px;
        }
      }
    }
  }
  section {
    width: 100%;
    margin-left: 300px;
    padding-top: 18px;
    .section-header {
      display: flex;
      position: sticky;
      justify-content: space-between;
      background-color: $white;
      top: 65px;
      padding-bottom: 10px;
      z-index: 1;
      ul {
        padding-left: 10px;
        .sort-by {
          position: relative;
          text-transform: uppercase;
          padding-left: 5px;
          a {
            text-decoration: none;
            color: $black;
            &:hover {
              color: $grey;
            }
          }
          .sort-items {
            width: 160px;
            display: none;
            position: absolute;
            background-color: $white;
            top: 0;
            left: 120px;
            padding-bottom: 8px;
            padding-left: 13px;
            z-index: 2;
            li {
              margin-bottom: 8px;
              padding: 5px;
              padding-top: 0px;
            }
          }
          &:hover {
            .sort-items {
              display: block;
            }
          }
        }
      }
      .amount-items {
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
        padding-right: 15px;
        &:hover {
          color: $grey;
        }
      }
    }
    .section-body {
      @include make-col(2, 20px);
      padding: 0 15px;
      padding-top: 5px;
      .book-info {
        max-width: 400px;
        font-size: 14px;
        &-body {
          height: 380px;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;
          padding: 30px;
          &-text {
            position: relative;
            .cart {
              display: none;
            }
            .more-info {
              display: none;
            }
            a {
              transition: 0.5s linear;
              img {
                width: 100%;
                max-width: 220px;
                box-shadow: 10px 10px 20px 0px #c8c8c8;
              }
            }
            &:hover {
              .cart,
              .more-info {
                width: 100%;
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                top: 35%;
                padding-top: 8px;
                a {
                  text-decoration: none;
                  text-transform: uppercase;
                  border-radius: 30px;
                  background-color: $white;
                  color: $black;
                  margin-bottom: 10px;
                  padding: 13px 20px;
                  &:hover {
                    background-color: $green;
                    transition: background-color 0.8s ease;
                  }
                }
              }
              .cart {
                font-size: 14px;
              }
              .more-info {
                top: 160px;
                a {
                  width: 135px;
                  text-align: center;
                  &:hover {
                    background-color: $green;
                    transition: background-color 0.8s ease;
                  }
                }
              }
            }
          }
        }
        &-footer {
          display: flex;
          margin-top: 15px;
          .book-price {
            margin-left: 40px;
          }
          .book-stock {
            text-transform: uppercase;
            margin-left: auto;
          }
          .book-more-info {
            margin-left: 40px;
            a {
              text-transform: uppercase;
              text-decoration: none;
              color: $black;
            }
          }
        }
      }
    }
  }
}

.main-index {
  margin-bottom: 165px;
}

// ---- DETAIL BOOK ---- //

.main {
  .detail-page {
    @include make-col(2, 0px);
    flex-wrap: nowrap;
    .detail-book {
      margin-left: 15px;
      .detail-book-cover {
        .detail-book-header {
          height: 522px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;
          a {
            img {
              width: 300px;
              height: 420px;
              box-shadow: 0px 5px 20px 0px #c8c8c8;
            }
          }
        }
        .detail-book-button {
          display: flex;
          justify-content: space-between;
          padding-top: 15px;
          margin-bottom: 15px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
          }
        }
      }
    }
    .detail-text {
      p {
        font-size: 14px;
        line-height: 20px;
        margin-right: 15px;
        padding: 0 15px;
      }
    }
    .detail-button {
      display: flex;
      justify-content: space-between;
      .detail-cart {
        width: 140px;
        height: 38px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0px 5px 20px 0px #c8c8c8;
        border: none;
        outline: none;
        margin-top: 5px;
        margin-left: 15px;
        padding-top: 10px;
        &:hover {
          background-color: $green;
          transition: background-color 0.8s ease;
          cursor: pointer;
        }
        a {
          font-family: $primary-font;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}
.detail-return {
  position: fixed;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  bottom: 15px;
  right: 15px;
}

// ---- USER INFORMATION ---- //

.form-title-user {
  text-transform: uppercase;
  margin-left: 15px;
}
.form-account {
  margin-top: 32px;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 25px;
  .form {
    .form-empty {
      display: flex;
      .form-col-first,
      .form-col-second {
        width: 100%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        border-radius: 0;
      }
      .form-col-second {
        margin-right: 65px;
      }
      .account-input {
        height: 33px;
        font-family: $primary-font;
        font-size: $primary-font-size;
        font-weight: $primary-font-weight;
        text-decoration: none;
        color: $black;
        outline: none;
        border: none;
        border-bottom: 1px solid $grey;
        margin-bottom: 5px;
        padding-right: 5px;
      }
      .account-label {
        font-size: 14px;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 15px;
      }
    }
    .btn {
      width: 100%;
      max-width: 100px;
      font-family: $primary-font;
      font-size: $primary-font-size;
      font-weight: $primary-font-weight;
      text-transform: uppercase;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      border-radius: 30px;
      border: none;
      outline: none;
      margin-top: 25px;
      padding: 10px 15px;
    }
    .submit {
      background-color: $white;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
    .reset {
      background-color: $white;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
  }
}

// ---- ORDER HISTORY ---- //

.order-text {
  text-transform: uppercase;
  margin-left: 15px;
}

.order {
  @include make-col(2, 70px);
  width: 100%;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  .order-body {
    display: flex;
    .order-body-book {
      img {
        width: 93px;
        height: 130px;
        box-shadow: 0px 5px 20px 0px #c8c8c8;
      }
    }
    .order-body-text {
      display: flex;
      h5 {
        line-height: 25px;
        padding-left: 25px;
      }
      p {
        padding-bottom: 20px;
        padding-left: 25px;
      }
      .text-col-first {
        margin-right: 25px;
      }
    }
  }
}

// ---- CREATE ACCOUNT ---- //

.form-user {
  margin: 0px 15px 32px 15px;
  .form-user-empty {
    display: flex;
    width: 100%;
    .form-user-account {
      width: 100%;
      margin-right: 25px;

      .form-user-col-first {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 100%;
        max-width: 450px;
        margin-right: 25px;
        .form-title-sign {
          text-transform: uppercase;
          margin-bottom: 25px;
        }

        .form-user-buttons {
          display: flex;
        }
      }
    }
    .form-user-account-second {
      width: 100%;
      margin-right: 65px;
      .form-user-col-second {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 100%;
        max-width: 450px;
        margin-right: 65px;
        .form-title-create {
          text-transform: uppercase;
          margin-bottom: 25px;
        }
      }
    }
    .btn {
      width: 100%;
      max-width: 100px;
      font-family: $primary-font;
      font-size: $primary-font-size;
      font-weight: $primary-font-weight;
      text-transform: uppercase;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      border-radius: 30px;
      border: none;
      outline: none;
      margin-top: 25px;
      padding: 10px 15px;
    }
    .sign-in {
      max-width: 100px;
      background-color: $white;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
    .sign-out {
      max-width: 120px;
      text-align: center;
      background-color: $white;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
    .create-account {
      max-width: 190px;
      text-align: center;
      background-color: $white;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
  }
}

.account-user-input {
  height: 33px;
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  text-decoration: none;
  color: $black;
  outline: none;
  border: none;
  border-bottom: 1px solid $grey;
  margin-bottom: 5px;
  padding-right: 5px;
}
.account-user-label {
  font-size: 14px;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 15px;
}

// ---- FOOTER ---- //

footer {
  position: static;
  column-count: 3;
  column-gap: 20px;
  background-color: $white;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 1;
  h3 {
    font-size: $primary-font-size;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
  }
}

// ---- CART ---- //

.side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: $white;
  box-shadow: 0px 5px 10px 0px #c8c8c8;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  right: 0;
  z-index: 3;
}

.side-nav .close-btn {
  position: absolute;
  font-size: 28px;
  text-decoration: none;
  color: $black;
  top: -5px;
  right: 0;
}

.sidebar-content {
  margin: 15px;
  position: relative;
  height: 100vh;
  h3 {
    font-size: $primary-font-size;
    margin-bottom: 60px;
  }
  .sidebar-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 15px;
    margin-bottom: 40px;
    .checkout,
    .shop {
      font-family: $primary-font;
      font-size: $primary-font-size;
      font-weight: $primary-font-weight;
      text-transform: uppercase;
      text-align: center;
      background-color: $white;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      border-radius: 30px;
      border: none;
      outline: none;
      margin-top: 13px;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: background-color 0.8s ease;
      }
    }
  }
}

.order-body {
  display: flex;
  margin-bottom: 30px;
  .order-body-book {
    img {
      width: 90px;
      height: 125px;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      margin-left: 3px;
    }
  }
  .order-body-text {
    display: flex;
    text-transform: uppercase;
    p {
      padding-left: 25px;
      padding-bottom: 10px;
    }
    .text-col-first {
      .remove-add {
        display: flex;
        padding-left: 25px;
        p {
          padding: 0;
        }
        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

// ---- SIDE MENU ---- //

.side-menu {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: $white;
  box-shadow: 0px 5px 10px 0px #c8c8c8;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: 3;
  .side-menu-content {
    font-size: $primary-font-size;
    padding: 15px;
    span {
      text-transform: uppercase;
    }
    ul {
      font-size: $primary-font-size;
      margin-top: 40px;
      li {
        margin: 20px 0;
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
          &:hover {
            color: $grey;
          }
        }
        .all-items {
          display: block;
          margin-top: 40px;
          margin-bottom: 80px;
        }
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.side-menu .close-btn {
  position: absolute;
  font-size: 28px;
  text-decoration: none;
  color: $black;
  top: 5px;
  right: 12px;
}

// ---- LITTLE SEARCH BUTTON ---- //

.little-form-search {
  display: none;
  .little-search-collection {
    height: 30px;
    display: none;
    text-align: center;
    font-family: $primary-font;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 0 15px;
    &::placeholder {
      color: #c8c8c8;
    }
  }
}
// ---- MEDIA ---- //

@media screen and (max-width: 1200px) {
  header nav .form-search .search-collection {
    width: 400px;
  }
  .main {
    aside {
      width: 237px;
    }
    section {
      margin-left: 240px;
    }
  }
}

@media screen and (max-width: 1080px) {
  header nav .brand-name {
    margin-right: 168px;
  }
  header nav .form-search .search-collection {
    width: 320px;
  }
  .main-index {
    margin-bottom: 175px;
  }
  .main section .section-header ul .sort-by .sort-items {
    width: 160px;
    left: 120px;
    li {
      margin-bottom: 5px;
    }
  }
  .main section .section-body .book-info-footer {
    .book-price {
      margin-left: 10px;
    }
  }
  .main section {
    .order {
      @include make-col(1, 0px);
      .order-body {
        margin-bottom: 40px;
      }
      .order-body:last-child {
        margin-bottom: 100px;
      }
    }
  }
  footer p  {
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  header nav .brand-name {
    margin-right: 80px;
  }
  header nav .form-search .search-collection {
    width: 280px;
    height: 33px;
  }
  header nav .form-search .search-button {
    font-size: 18px;
  }
  header nav ul li a {
    margin-left: 30px;
  }
  .main {
    margin-bottom: 15px;
    aside {
      width: 147px;
    }
    section {
      margin-left: 150px;
    }
  }
  .main-index {
    margin-bottom: 200px;
  }
  .main section .section-header ul .sort-by .sort-items {
    width: 155px;
    left: 120px;
    padding-bottom: 6px;
    padding-left: 10px;
  }
  .main .detail-page {
    margin-bottom: -150px;
    @include make-col(1, 0px);
    .detail-book .detail-book-cover .detail-book-header {
      margin: 0 15px;
    }
    .detail-book .detail-book-cover .detail-book-button {
      padding: 15px;
    }
    .detail-button .detail-cart {
      margin-top: 0;
      margin-bottom: 115px;
    }
  }
  .detail-return {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .main section .section-body {
    @include make-col(1, 0px);
  }
  .main section .section-body .book-info-footer {
    margin-bottom: 20px;
  }
  .main-index {
    margin-bottom: 200px;
  }
  .form-account .form .form-empty .form-col-second {
    margin-right: 5px;
  }
  .order-body .order-body-book img {
    width: 160px;
    height: 230px;
  }
}

@media screen and (max-width: 700px) {
  header nav .form-search {
    display: none;
  }
  .little-form-search {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 25px;
    z-index: 1;
    .little-search-collection {
      width: 20px;
      height: 41px;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
    }
    .little-search-button {
      font-size: 20px;
      color: $grey;
      background-color: $white;
      box-shadow: 0px 5px 20px 0px #c8c8c8;
      border-radius: 50%;
      border: none;
      outline: none;
      padding: 9px 11px;
    }
    .icon-search {
      padding-top: 1px;
    }
  }
  header nav ul {
    display: none;
  }
  header nav .hamburger-menu,
  header nav .shop-cart-icon {
    display: block;
    font-size: 25px;
    padding: 4px;
  }
  header nav .brand-name {
    font-size: $primary-font-size;
    margin-top: 5px;
    margin-right: 0;
  }
  .main {
    aside {
      display: none;
    }
    section {
      margin-left: 0;
    }
  }
  .main-index {
    margin-bottom: 340px;
  }
  .main section .section-body .book-info-footer {
    font-size: 14px;
  }
  .form-account {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .form-account .form .form-empty {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
  .form-user .form-user-account .form-user-empty {
    @include make-col(1, 0px);
    .form-user-col-first {
      margin-bottom: 80px;
    }
    .form-user-col-second {
      margin-bottom: 70px;
    }
  }
  footer {
    @include make-col(1, 0px);
    h3 {
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 555px) {
  .main-index {
    margin-bottom: 400px;
  }
}
