@import url("https://rsms.me/inter/inter.css");
@import "../icons/style.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=password],
input[type=tel] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

div .msgs {
  position: fixed;
  top: 130px;
  left: 43%;
  color: Black;
}

div.noresult {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 175px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: #fff;
  top: 0;
  padding: 12px;
  z-index: 2;
}
header nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
header nav .hamburger-menu {
  display: none;
}
header nav .brand-name {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  margin-right: 168px;
}
header nav .shop-cart-icon {
  display: none;
}
header nav .form-search {
  position: relative;
}
header nav .form-search .search-collection {
  width: 500px;
  height: 35px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 5px 20px 0 #c8c8c8;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 5px;
}
header nav .form-search .search-collection::placeholder {
  color: #ccc;
}
header nav .form-search .search-button {
  position: absolute;
  text-align: center;
  font-size: 18px;
  top: 22%;
  right: 15px;
  color: #c8c8c8;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 60px;
}

.main {
  width: 100%;
  display: flex;
  position: sticky;
  top: 65px;
  margin-top: 202px;
}
.main aside {
  width: 297px;
  position: fixed;
  top: 220px;
  margin-left: 3px;
  padding: 10px;
  padding-top: 0;
}
.main aside span {
  text-transform: uppercase;
}
.main aside ul {
  margin-top: 40px;
}
.main aside ul li {
  margin: 20px 0;
}
.main aside ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.main aside ul li a:hover {
  color: #ccc;
}
.main aside ul li .all-items {
  display: block;
  margin-top: 40px;
}
.main section {
  width: 100%;
  margin-left: 300px;
  padding-top: 18px;
}
.main section .section-header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #fff;
  top: 65px;
  padding-bottom: 10px;
  z-index: 1;
}
.main section .section-header ul {
  padding-left: 10px;
}
.main section .section-header ul .sort-by {
  position: relative;
  text-transform: uppercase;
  padding-left: 5px;
}
.main section .section-header ul .sort-by a {
  text-decoration: none;
  color: #000;
}
.main section .section-header ul .sort-by a:hover {
  color: #ccc;
}
.main section .section-header ul .sort-by .sort-items {
  width: 160px;
  display: none;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 120px;
  padding-bottom: 8px;
  padding-left: 13px;
  z-index: 2;
}
.main section .section-header ul .sort-by .sort-items li {
  margin-bottom: 8px;
  padding: 5px;
  padding-top: 0px;
}
.main section .section-header ul .sort-by:hover .sort-items {
  display: block;
}
.main section .section-header .amount-items {
  text-transform: uppercase;
  text-decoration: none;
  color: #ccc;
  padding-right: 15px;
}
.main section .section-header .amount-items:hover {
  color: #ccc;
}
.main section .section-body {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  padding-top: 5px;
}
.main section .section-body > *:nth-child(1n+0) {
  min-width: calc(calc(100% - 20px) / 2);
  margin: 0 20px 20px 0;
}
.main section .section-body > *:nth-child(2n+0) {
  margin-right: 0;
}
.main section .section-body .book-info {
  max-width: 400px;
  font-size: 14px;
}
.main section .section-body .book-info-body {
  height: 380px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 30px;
}
.main section .section-body .book-info-body-text {
  position: relative;
}
.main section .section-body .book-info-body-text .cart {
  display: none;
}
.main section .section-body .book-info-body-text .more-info {
  display: none;
}
.main section .section-body .book-info-body-text a {
  transition: 0.5s linear;
}
.main section .section-body .book-info-body-text a img {
  width: 100%;
  max-width: 220px;
  box-shadow: 10px 10px 20px 0px #c8c8c8;
}
.main section .section-body .book-info-body-text:hover .cart,
.main section .section-body .book-info-body-text:hover .more-info {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 35%;
  padding-top: 8px;
}
.main section .section-body .book-info-body-text:hover .cart a,
.main section .section-body .book-info-body-text:hover .more-info a {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  padding: 13px 20px;
}
.main section .section-body .book-info-body-text:hover .cart a:hover,
.main section .section-body .book-info-body-text:hover .more-info a:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}
.main section .section-body .book-info-body-text:hover .cart {
  font-size: 14px;
}
.main section .section-body .book-info-body-text:hover .more-info {
  top: 160px;
}
.main section .section-body .book-info-body-text:hover .more-info a {
  width: 135px;
  text-align: center;
}
.main section .section-body .book-info-body-text:hover .more-info a:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}
.main section .section-body .book-info-footer {
  display: flex;
  margin-top: 15px;
}
.main section .section-body .book-info-footer .book-price {
  margin-left: 40px;
}
.main section .section-body .book-info-footer .book-stock {
  text-transform: uppercase;
  margin-left: auto;
}
.main section .section-body .book-info-footer .book-more-info {
  margin-left: 40px;
}
.main section .section-body .book-info-footer .book-more-info a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-index {
  margin-bottom: 165px;
}

.main .detail-page {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.main .detail-page > *:nth-child(1n+0) {
  min-width: calc(calc(100% - 0px) / 2);
  margin: 0 0px 0px 0;
}
.main .detail-page > *:nth-child(2n+0) {
  margin-right: 0;
}
.main .detail-page .detail-book {
  margin-left: 15px;
}
.main .detail-page .detail-book .detail-book-cover .detail-book-header {
  height: 552px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.main .detail-page .detail-book .detail-book-cover .detail-book-header a img {
  width: 300px;
  height: 420px;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
}
.main .detail-page .detail-text p {
  font-size: 14px;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 15px;
}
.main .detail-page .detail-button {
  display: flex;
  justify-content: space-between;
}
.main .detail-page .detail-button .detail-cart {
  width: 140px;
  height: 38px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-left: 15px;
  padding-top: 10px;
}
.main .detail-page .detail-button .detail-cart:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
  cursor: pointer;
}
.main .detail-page .detail-button .detail-cart a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.detail-return {
  position: fixed;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  bottom: 15px;
  right: 15px;
}

.form-title-user {
  text-transform: uppercase;
  margin-left: 15px;
}

.form-account {
  margin-top: 32px;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 25px;
}
.form-account .form .form-empty {
  display: flex;
}
.form-account .form .form-empty .form-col-first,
.form-account .form .form-empty .form-col-second {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  border-radius: 0;
}
.form-account .form .form-empty .form-col-second {
  margin-right: 65px;
}
.form-account .form .form-empty .account-input {
  height: 33px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-right: 5px;
}
.form-account .form .form-empty .account-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 15px;
}
.form-account .form .btn {
  width: 100%;
  max-width: 100px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 25px;
  padding: 10px 15px;
}
.form-account .form .submit {
  background-color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.form-account .form .submit:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}
.form-account .form .reset {
  background-color: #fff;
  cursor: pointer;
}
.form-account .form .reset:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}

.order-text {
  text-transform: uppercase;
  margin-left: 15px;
}

.order {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
.order > *:nth-child(1n+0) {
  min-width: calc(calc(100% - 70px) / 2);
  margin: 0 70px 70px 0;
}
.order > *:nth-child(2n+0) {
  margin-right: 0;
}
.order .order-body {
  display: flex;
}
.order .order-body .order-body-book img {
  width: 93px;
  height: 130px;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
}
.order .order-body .order-body-text {
  display: flex;
}
.order .order-body .order-body-text h5 {
  line-height: 25px;
  padding-left: 25px;
}
.order .order-body .order-body-text p {
  padding-bottom: 20px;
  padding-left: 25px;
}
.order .order-body .order-body-text .text-col-first {
  margin-right: 25px;
}

.form-user {
  margin: 0px 15px 32px 15px;
}
.form-user .form-user-empty {
  width: 100%;
  display: flex;
}
.form-user .form-user-empty .form-user-account {
  width: 100%;
  margin-right: 25px;
}
.form-user .form-user-empty .form-user-account .form-user-col-first {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  margin-right: 25px;
}
.form-user .form-user-empty .form-user-account .form-user-col-first .form-title-sign {
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form-user .form-user-empty .form-user-account .form-user-col-first .form-user-buttons {
  display: flex;
}
.form-user .form-user-empty .form-user-account-second {
  width: 100%;
  margin-right: 65px;
}
.form-user .form-user-empty .form-user-account-second .form-user-col-second {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  margin-right: 65px;
}
.form-user .form-user-empty .form-user-account-second .form-user-col-second .form-title-create {
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form-user .form-user-empty .btn {
  width: 100%;
  max-width: 100px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 25px;
  padding: 10px 15px;
}
.form-user .form-user-empty .sign-in {
  max-width: 100px;
  background-color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.form-user .form-user-empty .sign-in:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}
.form-user .form-user-empty .sign-out {
  max-width: 120px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.form-user .form-user-empty .sign-out:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}
.form-user .form-user-empty .create-account {
  max-width: 190px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.form-user .form-user-empty .create-account:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}

.account-user-input {
  height: 33px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-right: 5px;
}

.account-user-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 15px;
}

footer {
  position: static;
  column-count: 3;
  column-gap: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 1;
}
footer h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
}
footer p {
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}

.side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #c8c8c8;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  right: 0;
  z-index: 3;
}

.side-nav .close-btn {
  position: absolute;
  font-size: 28px;
  text-decoration: none;
  color: #000;
  top: -8px;
  right: 0;
}

.sidebar-content {
  margin: 15px;
  position: relative;
  height: 100vh;
}
.sidebar-content h3 {
  font-size: 16px;
  margin-bottom: 60px;
}
.sidebar-content .sidebar-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}
.sidebar-content .sidebar-btn .checkout,
.sidebar-content .sidebar-btn .shop {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 13px;
  padding: 10px;
  cursor: pointer;
}
.sidebar-content .sidebar-btn .checkout:hover,
.sidebar-content .sidebar-btn .shop:hover {
  background-color: #00ff00;
  transition: background-color 0.8s ease;
}

.order-body {
  display: flex;
  margin-bottom: 30px;
}
.order-body .order-body-book img {
  width: 90px;
  height: 125px;
  box-shadow: 0px 5px 20px 0px #c8c8c8;
  margin-left: 3px;
}
.order-body .order-body-text {
  display: flex;
  text-transform: uppercase;
}
.order-body .order-body-text p {
  padding-left: 25px;
  padding-bottom: 10px;
}
.order-body .order-body-text .text-col-first .remove-add {
  display: flex;
  padding-left: 25px;
}
.order-body .order-body-text .text-col-first .remove-add p {
  padding: 0;
}
.order-body .order-body-text .text-col-first .remove-add a {
  text-decoration: none;
  color: #000;
}

.side-menu {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #c8c8c8;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: 3;
}
.side-menu .side-menu-content {
  font-size: 16px;
  padding: 15px;
}
.side-menu .side-menu-content span {
  text-transform: uppercase;
}
.side-menu .side-menu-content ul {
  font-size: 16px;
  margin-top: 40px;
}
.side-menu .side-menu-content ul li {
  margin: 20px 0;
}
.side-menu .side-menu-content ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.side-menu .side-menu-content ul li a:hover {
  color: #ccc;
}
.side-menu .side-menu-content ul li .all-items {
  display: block;
  margin-top: 40px;
  margin-bottom: 80px;
}
.side-menu .side-menu-content a {
  text-decoration: none;
  color: black;
}

.side-menu .close-btn {
  position: absolute;
  font-size: 28px;
  text-decoration: none;
  color: #000;
  top: 5px;
  right: 12px;
}

.little-form-search {
  display: none;
}
.little-form-search .little-search-collection {
  height: 30px;
  display: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 0 15px;
}
.little-form-search .little-search-collection::placeholder {
  color: #c8c8c8;
}

@media screen and (max-width: 1200px) {
  header nav .form-search .search-collection {
    width: 400px;
  }

  .main aside {
    width: 237px;
  }
  .main section {
    margin-left: 240px;
  }
}
@media screen and (max-width: 1080px) {
  header nav .brand-name {
    margin-right: 168px;
  }

  header nav .form-search .search-collection {
    width: 320px;
  }

  .main-index {
    margin-bottom: 175px;
  }

  .main section .section-header ul .sort-by .sort-items {
    width: 160px;
    left: 120px;
  }
  .main section .section-header ul .sort-by .sort-items li {
    margin-bottom: 5px;
  }

  .main section .section-body .book-info-footer .book-price {
    margin-left: 10px;
  }

  .main section .order {
    display: flex;
    flex-wrap: wrap;
  }
  .main section .order > *:nth-child(1n+0) {
    min-width: calc(calc(100% - 0px) / 1);
    margin: 0 0px 0px 0;
  }
  .main section .order > *:nth-child(1n+0) {
    margin-right: 0;
  }
  .main section .order .order-body {
    margin-bottom: 40px;
  }
  .main section .order .order-body:last-child {
    margin-bottom: 100px;
  }

  footer p {
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  header nav .brand-name {
    margin-right: 80px;
  }

  header nav .form-search .search-collection {
    width: 280px;
    height: 33px;
  }

  header nav .form-search .search-button {
    font-size: 18px;
  }

  header nav ul li a {
    margin-left: 30px;
  }

  .main {
    margin-bottom: 15px;
  }
  .main aside {
    width: 147px;
  }
  .main section {
    margin-left: 150px;
  }

  .main-index {
    margin-bottom: 200px;
  }

  .main section .section-header ul .sort-by .sort-items {
    width: 155px;
    left: 120px;
    padding-bottom: 6px;
    padding-left: 10px;
  }

  .main .detail-page {
    margin-bottom: -150px;
    display: flex;
    flex-wrap: wrap;
  }
  .main .detail-page > *:nth-child(1n+0) {
    min-width: calc(calc(100% - 0px) / 1);
    margin: 0 0px 0px 0;
  }
  .main .detail-page > *:nth-child(1n+0) {
    margin-right: 0;
  }
  .main .detail-page .detail-book .detail-book-cover .detail-book-header {
    margin: 0 15px;
  }
  .main .detail-page .detail-button .detail-cart {
    margin-top: 0;
    margin-bottom: 115px;
  }

  .form-user .form-user-empty {
    flex-direction: column;
  }

  .form-user .form-user-empty .form-user-account-second {
    margin-top: 20px;
  }

  .detail-return {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .main section .section-body {
    display: flex;
    flex-wrap: wrap;
  }
  .main section .section-body > *:nth-child(1n+0) {
    min-width: calc(calc(100% - 0px) / 1);
    margin: 0 0px 0px 0;
  }
  .main section .section-body > *:nth-child(1n+0) {
    margin-right: 0;
  }

  .main section .section-body .book-info-footer {
    margin-bottom: 20px;
  }

  .main-index {
    margin-bottom: 200px;
  }

  .form-account .form .form-empty .form-col-second {
    margin-right: 5px;
  }

  .order-body .order-body-book img {
    width: 160px;
    height: 230px;
  }
}
@media screen and (max-width: 700px) {
  header nav .form-search {
    display: none;
  }

  .little-form-search {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 25px;
    z-index: 1;
  }
  .little-form-search .little-search-collection {
    width: 20px;
    height: 41px;
    box-shadow: 0px 5px 20px 0px #c8c8c8;
  }
  .little-form-search .little-search-button {
    font-size: 20px;
    color: #ccc;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px #c8c8c8;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 9px 11px;
  }
  .little-form-search .icon-search {
    padding-top: 1px;
  }

  header nav ul {
    display: none;
  }

  header nav .hamburger-menu,
header nav .shop-cart-icon {
    display: block;
    font-size: 25px;
    padding: 4px;
  }

  header nav .brand-name {
    font-size: 16px;
    margin-top: 5px;
    margin-right: 0;
  }

  .main aside {
    display: none;
  }
  .main section {
    margin-left: 0;
  }

  .main-index {
    margin-bottom: 340px;
  }

  .main section .section-body .book-info-footer {
    font-size: 14px;
  }

  .form-account {
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .form-account .form .form-empty {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  .form-user .form-user-account .form-user-empty {
    display: flex;
    flex-wrap: wrap;
  }
  .form-user .form-user-account .form-user-empty > *:nth-child(1n+0) {
    min-width: calc(calc(100% - 0px) / 1);
    margin: 0 0px 0px 0;
  }
  .form-user .form-user-account .form-user-empty > *:nth-child(1n+0) {
    margin-right: 0;
  }
  .form-user .form-user-account .form-user-empty .form-user-col-first {
    margin-bottom: 80px;
  }
  .form-user .form-user-account .form-user-empty .form-user-col-second {
    margin-bottom: 70px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer > *:nth-child(1n+0) {
    min-width: calc(calc(100% - 0px) / 1);
    margin: 0 0px 0px 0;
  }
  footer > *:nth-child(1n+0) {
    margin-right: 0;
  }
  footer h3 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 555px) {
  .main-index {
    margin-bottom: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
