<!-- ASIDE -->

<!--<aside>-->
<!--    <span>Categories</span>-->
<!--    <ul>-->
<!--        <li><a href="./create_account.php?">@cat_name@</a></li>-->
<!--        <li><a href="index.php?category=@cat_name@">@cat_name@</a></li>-->
<!--        <li><a href="index.php?category=@cat_name@">@cat_name@</a></li>-->
<!--        <li><a href="index.php?category=@cat_name@">@cat_name@</a></li>-->
<!--        <li><a href="index.php?category=@cat_name@">@cat_name@</a></li>-->
<!--        <li><a href="index.php?category=@cat_name@">@cat_name@</a></li>-->
<!--        <li><a href="#" class="all-items">Show All</a></li>-->
<!--    </ul>-->
<!--</aside>-->