<!-- TEXT BELOW EVERY ITEM -->

<div class="book-info">
    <div class="book-info-body">
        <div class="book-info-body-text">
            <a class="#" href="#">
                <img src="images/@pro_image@" alt="@pro_name@"/>
            </a>
            <form id="cart_form@pro_id@" method="post" action="./lib/manageCart.php">
                <input type="hidden" value="@pro_id@" name="bookId">
                <input type="hidden" value="1" name="quantity">
                <input type="hidden" value="@pro_price@" name="price">
                <div class="cart">
                    <a href="javascript:{}" onclick="document.getElementById('cart_form@pro_id@').submit();">Add to Cart</a>
                </div>
            </form>
        </div>
    </div>
    <div class="book-info-footer">
        <div class="book-title">@pro_name@</div>
        <div class="book-price">€ @pro_price@</div>
        <div class="more-info">
            <a href="detail_book.php?pro_id=@pro_id@">More Info</a>
        </div>
    </div>
</div>