<!-- CART ROW-->
<div class="order-body">
    <div class="order-body-book">
        <img src="images/@pro_image@" alt="@pro_name@"/>
    </div>
    <div class="order-body-text">
        <div class="text-col-first">
            <p>@pro_name@</p>
            <p>€ @price@</p>
            <p>Quantity @quantity@</p>
            <br>
            <div class="remove-add">
                <form id="cart_form_1@pro_id@" method="post" action="./lib/manageCart.php">
                    <input type="hidden" value="@pro_id@" name="bookId">
                    <input type="hidden" value="-1" name="quantity">
                    <input type="hidden" value="@pro_price@" name="price">
                    <!--<button class="remove-button" type="submit">Remove</button>-->
                    <a href="javascript:{}" onclick="document.getElementById('cart_form_1@pro_id@').submit();">Remove</a>
               </form>
               <p>&nbsp;/&nbsp;</p>
               <form id="cart_form_2@pro_id@" method="post" action="./lib/manageCart.php">
                   <input type="hidden" value="@pro_id@" name="bookId">
                   <input type="hidden" value="1" name="quantity">
                   <input type="hidden" value="@pro_price@" name="price">
                    <!--<button type="submit">Add</button>-->
                     <a href="javascript:{}" onclick="document.getElementById('cart_form_2@pro_id@').submit();">Add</a>

               </form>
           </div>
       </div>
   </div>
</div>
