<!-- CART -->
<div id="side-nav" class="side-nav">
    <div class="sidebar-content">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()"
        >&times;</a
        >
        <h3>CART(1)</h3>
        <div class="order-body">
            <div class="order-body-book">
                <img src="images/@pro_image@" alt="@pro_name@"/>
            </div>
            <div class="order-body-text">
                <div class="text-col-first">
                    <p>Accidents</p>
                    <p>€60</p>
                    <br>
                    <div class="remove-add">
                        <a href="#">Remove</a>
                        <p>&nbsp;/&nbsp;</p>
                        <a href="#">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-btn">
            <input
                    id="checkout"
                    class="btn checkout"
                    type="button"
                    value="check out"
            />
            <input
                    id="shop"
                    class="btn shop"
                    type="button"
                    value="continue shopping"
            />
        </div>
    </div>
</div>