<!-- MAIN -->
<main class="main">
    <aside>
        <span>My Account</span>
    </aside>
    <!-- CREATE ACCOUNT -->
    <section>
        <div class="form-user">
            <div class="form-user-empty">
                <form action="" class="form-user-account" method="post">
                        <!--lib/login.php-->
                    <div class="form-user-col-first">
                        <h2 class="form-title-sign">Sign in</h2>
                        <input
                                class="account-user-input"
                                type="email"
                                id="email"
                                name="cus_email"
                        />
                        <label class="account-user-label" for="email">Email</label>
                        <input
                                class="account-user-input"
                                type="password"
                                id="password"
                                name="cus_password"
                        />
                        <label class="account-user-label" for="password"
                        >Password</label
                        >
                        <input
                                class="account-user-input"
                                type="password"
                                id="repeat_password"
                                name="r_pwd"
                        />
                        <label class="account-user-label" for="password"
                        >Repeat Password</label
                        >
                        <div class="form-user-buttons">
                            <input class="btn sign-in" type="submit" value="sign in" />
                            <input
                                    class="btn sign-out"
                                    type="submit"
                                    value="sign out"
                            />
                        </div>
                    </div>
                </form>
                <form action="lib/registration.php" class="form-user-account-two" method="post">
                    <div class="form-user-col-second">
                    <h2 class="form-title-create">Create Account</h2>
                    <input
                            class="account-user-input"
                            type="email"
                            id="email_create_acc"
                            name="cus_email"
                    />
                    <label class="account-user-label" for="email">Email</label>
                    <input
                            class="account-user-input"
                            type="password"
                            id="password_create"
                            name="cus_password"
                    />
                    <label class="account-user-label" for="password"
                    >Password</label
                    >
                                            <input
                                                    class="account-user-input"
                                                    type="password"
                                                    id="repeat_password_create"
                                                    name="password"
                                            />
                                            <label class="account-user-label" for="password"
                                            >Repeat Password</label
                                            >
                    <input
                            class="btn create-account"
                            type="submit"
                            value="create account"
                    />
                </div>
                </form>
            </div>
        </div>
    </section>
</main>