<main class="main">
    <div class="detail-page">
<div class="detail-book">
    <div class="detail-book-cover">
        <div class="detail-book-header">
            <a class="#" href="">
                <img src="images/@pro_image@" alt="@pro_name@" />
                </a>
            </div>
    <div class="detail-book-button">
       <a href="#">Previous</a>
       <a href="#">Next</a>
    </div>
  </div>
</div>
<div class="detail-text">
    <p>@pro_description@</p>
    <br>
    <p>@pro_description@</p>
    <br>
    <p> Title: @pro_name@</p>
    <p> Author: @aut_firstname@ @aut_lastname@</p>
    <p> Publisher: @pub_name@</p>
    <p> Year of publication: @pro_year@</p>
    <p> Number of pages: @pro_pages@</p>
    <p> Price: € @pro_price@</p>
    <br>
    <div class="detail-button">
        <div class="detail-cart">
            <a href="#">Add To Cart</a>
        </div>
    </div>
</div>
</div>
</main>
<a class="detail-return" href="index.php"><--- Go Back</a>