<!-- HEADER -->
<header>
    <div class="container">
        <nav class="nav">
            <a href="#" class="hamburger-menu" onclick="openMenu()">
                <svg class="icon icon-menu">
                    <use xlink:href="./icons/symbol-defs.svg#icon-menu"></use>
                </svg>
            </a>
            <a class="brand-name" href="index.php">Bookshop</a>
            <a href="#" class="shop-cart-icon" onclick="openNav()">
                <svg class="icon icon-cart">
                    <use xlink:href="./icons/symbol-defs.svg#icon-cart"></use>
                </svg>
            </a>
            <form action="index.php" class="form-search" method="post">
                <input
                        id="search-collection"
                        class="search-collection"
                        type="text"
                        name="search"
                        placeholder="search for books"
                />

                <a href="#" class="search-button" onclick="openSearch()">
                    <svg class="icon icon-search">
                        <use xlink:href="./icons/symbol-defs.svg#icon-search"></use>
                    </svg>
                </a>
            </form>
            <ul>
                <li>
                    <a href="create_account.php">Account</a>
                </li>
                <li><a href="#" onclick="openNav()">Cart(@shopcartnum@)</a></li>
            </ul>
        </nav>
    </div>
</header>
