<!-- SORT BY -->

<section>
    <div class="section-header">
        <ul>
            <li class="sort-by">
                <a href="#">Sort By ---></a>
                    <ul class="sort-items">
                        <li><a href="index.php?highest=@pro_price@">Highest Price</a></li>
                        <li><a href="index.php?lowest=@pro_price@">Lowest Price</a></li>
                        <li><a href="index.php?alphabet=@pro_name@">Alphabet</a></li>
                    </ul>
                </li>
            </ul>