<!-- MAIN -->
<main class="main">
    <aside>
        <span>My Account</span>
    </aside>
    <!-- CREATE ACCOUNT -->
    <section>
        <div class="form-user">
            <div class="form-user-empty">
                <form action="lib/login_check.php" id="mainform" name="mainform" class="form-user-account" method="post">
<!--                    security-->
                    <input type="hidden" name="csrf" value="@csrf_token@">
<!--                    end security-->


                    <div class="form-user-col-first">
                        <h2 class="form-title-sign">Sign in</h2>
                        <input
                                class="account-user-input"
                                type="email"
                                id="cus_email"
                                name="cus_email"
                        />
                        <label class="account-user-label" for="cus_email">Email</label>
                        <input
                                class="account-user-input"
                                type="password"
                                id="cus_password"
                                name="cus_password"
                        />
                        <label class="account-user-label" for="cus_password"
                        >Password</label
                        >

                        <div class="form-user-buttons">
                            <input class="btn sign-in" type="submit"  value="Login" />
<!--                            <input-->
<!--                                    class="btn sign-out"-->
<!--                                    type="submit"-->
<!--                                    value="sign out"-->
<!--                            />-->
                        </div>
                    </div>
                </form>
                <p>No account yet? Sign in!</p>
                <a href="create_account.php" class="btn reg">Register</a>

            </div>
        </div>
    </section>
</main>