<!-- MENU -->
<main class="main">
    <aside>
        <span>My Account</span>
        <ul>
            <li><a href="user_information.php">User Information</a></li>
            <li><a href="order_history.php">Order History</a></li>
        </ul>
    </aside>
    <!-- ORDER HISTORY -->
    <section>
        <h2 class="order-text">Order History</h2>
        <div class="order">
            <div class="order-body">
                <div class="order-body-book">
                    <img src="images/ART-1.jpg" alt="bookcover" />
                </div>
                <div class="order-body-text">
                    <div class="text-col-first">
                        <h5>Quantity</h5>
                        <p>#2</p>
                        <h5>Order Number</h5>
                        <p>#659840680</p>
                    </div>
                    <div class="text-col-second">
                        <h5>Date</h5>
                        <p>22/12/2020</p>
                        <h5>Status</h5>
                        <p>In Progress</p>
                    </div>
                </div>
            </div>
            <div class="order-body">
                <div class="order-body-book">
                    <img src="images/ART-4.jpg" alt="bookcover" />
                </div>
                <div class="order-body-text">
                    <div class="text-col-first">
                        <h5>Quantity</h5>
                        <p>#8</p>
                        <h5>Order Number</h5>
                        <p>#558820040</p>
                    </div>
                    <div class="text-col-second">
                        <h5>Date</h5>
                        <p>08/08/2020</p>
                        <h5>Status</h5>
                        <p>Deliverd</p>
                    </div>
                </div>
            </div>

            <div class="order-body">
                <div class="order-body-book">
                    <img src="images/ART-6.jpg" alt="bookcover" />
                </div>
                <div class="order-body-text">
                    <div class="text-col-first">
                        <h5>Quantity</h5>
                        <p>#2</p>
                        <h5>Order Number</h5>
                        <p>#521220088</p>
                    </div>
                    <div class="text-col-second">
                        <h5>Date</h5>
                        <p>02/07/2020</p>
                        <h5>Status</h5>
                        <p>Deliverd</p>
                    </div>
                </div>
            </div>
            <div class="order-body">
                <div class="order-body-book">
                    <img src="images/ART-8.jpg" alt="bookcover" />
                </div>
                <div class="order-body-text">
                    <div class="text-col-first">
                        <h5>Quantity</h5>
                        <p>#2</p>
                        <h5>Order Number</h5>
                        <p>#503022205</p>
                    </div>
                    <div class="text-col-second">
                        <h5>Date</h5>
                        <p>24/04/2020</p>
                        <h5>Status</h5>
                        <p>Deliverd</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>