<!-- SIDE MENU -->
<div id="side-menu" class="side-menu">
    <div class="side-menu-content">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()"
        >&times;</a
        >
        <span>Categories</span>
        <ul>
            <li><a href="create_account.html">Art</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Architecture</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#" class="all-items">Show All</a></li>
        </ul>
        <a href="./user_information.html">SIGN IN</a>
    </div>
</div>