<!-- MAIN -->
<main class="main">
    <aside>
        <span>My Account</span>
        <ul>
            <li><a href="user_information.php">User Information</a></li>
            <li><a href="order_history.php">Order History</a></li>
        </ul>
    </aside>
    <!-- USER INFORMATION -->
    <section>

    <h2 class="form-title-user">User Information</h2>
        <div class="form-account">
            <form action="lib/registration.php" name="user_info" class="form" method="post">

                <!-- meta info -->
                <input type="hidden" id="table" name="table" value="Customer">
                <input type="hidden" id="pkey" name="pkey" value="cus_id">
                <input type="hidden" id="afterinsert" name="afterinsert" value="user_information.php">
                <input type="hidden" id="afterupdate" name="afterupdate" value="">
                <!-- end meta info -->

                <!--security-->
                <!--<input type="hidden" name="csrf" value="@csrf_token@">-->
                <!--<p><small>@csrf_token@</small></p>-->
                <!--end security-->

                <div class="form-empty">
                    <div class="form-col-first">
                        <input
                                class="account-input"
                                type="text"
                                name="cus_firstname"
                                id="cus_firstname"
                                value="@cus_firstname@"
                        />
                        <label class="account-label" for="cus_firstname"
                        >First Name</label
                        >
                        <input
                                class="account-input"
                                type="text"
                                name="cus_lastname"
                                id="cus_lastname"
                                value="@cus_lastname@"
                        />
                        <label class="account-label" for="cus_lastname">Last Name</label>
                        <input
                                class="account-input"
                                type="text"
                                id="cus_email"
                                name="cus_email"
                                value="@cus_email@"
                        />
                        <label class="account-label" for="cus_email">Email</label>
                        <input
                                class="account-input"
                                type="password"
                                id="password"
                                name="password"
                        />
                        <label class="account-label" for="password">Password</label>
                    </div>
                    <div class="form-col-second">
                        <input
                                class="account-input"
                                type="text"
                                id="address"
                                name="address"
                        />
                        <label class="account-label" for="address">Address</label>
                        <input
                                class="account-input"
                                type="text"
                                id="city"
                                name="city"
                        />
                        <label class="account-label" for="city">City</label>
                        <input
                                class="account-input"
                                type="text"
                                id="postal"
                                name="postal"
                        />
                        <label class="account-label" for="postal">Postal Code</label>
                        <input
                                class="account-input"
                                type="tel"
                                id="phone"
                                name="phone"
                        />
                        <label class="account-label" for="phone">Phone Number</label>
                    </div>
                </div>
                <input class="btn submit" name="submit" type="submit" value="submit" />
                <input class="btn reset" name="reset" type="reset" value="reset" />
            </form>
        </div>
    </section>
</main>